@use "../base/vars" as *;
@use "../base/mixins" as *;

.about {

  @include padding(120px);

  .about-wrapper {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);

  }

  .about-item {
    position: relative;

  }

  .content-box * {
    margin-bottom: 30px;
  }

  .about-cont1 {
    margin-bottom: 20px;
  }

  .about-img1 {
    position: relative;
    top: 0;
    left: 0;
    width: 400px;
    border-radius: $radius;
    margin-left: 40px;
    z-index: 99;
  }

  .about-img2 {
    position: absolute;
    top: 60px;
    left: -130px;
    width: 150px;
    height: 150px;
    border-radius: 20px;
    animation: 3s animTopBottom infinite;
  }

  .about-img3 {
    position: absolute;
    bottom: -50px;
    left: -15px;
    width: 150px;
    height: 150px;
    border-radius: 20px;
    z-index: 88;
    animation: 5s animTopBottom infinite;
  }

  .about-img4 {
    position: absolute;
    bottom: -110px;
    right: 130px;
    width: 150px;
    height: 150px;
    border-radius: 20px;
    z-index: 99;
    animation: 4s animLeftRight infinite;
  }
}

@keyframes animTopBottom {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes animLeftRight {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(20px);
  }
  100% {
    transform: translateX(0px);
  }
}