@use "../base/vars" as *;
@use "../base/mixins" as *;

.collection {

  position: relative;
  @include padding(140px);

  @include circleRaund(0, 0, 0.2);

  .collection-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

.swiper.collection-slider {
  overflow: hidden;
  margin-top: 30px;
}

.swiper.collection-slider .swiper-wrapper {
  display: inline-flex;
}