@use '../base/vars' as *;
@use '../base/mixins' as *;

.gallery {

  @include padding(140px);

  .gallery-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 50px;
  }

  .gallery-img {
    overflow: hidden;
  }

  .swiper.gallery-slider {
    overflow: hidden;
  }

  .swiper-wrapper {
    display: inline-flex;
  }

  .gallery-card {
    position: relative;

    & img {
      scale: 1;
      transition: .3s;
    }

    &:hover img {
      scale: 1.1;
    }
  }

  .gallery-title-name {
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    text-align: center;
    padding-block: 10px;
    font-weight: 700;
    font-size: 30px;
  }
}