@use "../base/vars" as *;
@use '../base/mixins' as *;

.header {
  position: fixed;
  padding-block: 15px;
  width: 100%;
  z-index: 999;
  transition: .3s;
  border-bottom: 1px solid transparent;

  &.active {
    backdrop-filter: blur(10px);
    border-bottom: 1px solid #141a4e;
  }


  .logo {
    background-image: $color-gradient;
    /* Or any other gradient type/colors */
    -webkit-background-clip: text;
    /* Clip the background to the shape of the text */
    -webkit-text-fill-color: transparent;
    /* Make the text transparent to reveal the background */
    color: white;
    /* Fallback color for browsers that don't support the above properties */
    font-size: 30px;
  }

  .wrapper {
    display: flex;
    align-items: center;
    align-items: center;
    justify-content: space-between;
    column-gap: 50px;
  }

  .menu {

    display: none;
    column-gap: 80px;

    @include adaptive(992px) {
      display: flex;
    }

  }
}

.mobile-icon {
  cursor: pointer;
  font-size: 30px;

  &.open .ri-menu-4-line {
    display: none;
  }

  &.open .ri-close-large-line {
    display: block;
  }


  & .ri-close-large-line {
    display: none;
  }

  @include adaptive(992px) {
    display: none;
  }
}

.mobile-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: $color-btn1;
  width: 100%;
  display: none;

  &.open {
    display: block;
  }

  & .mobile-link {
    display: block;
    padding: 20px;
  }
}

.link:hover {
  color: $color-btn1;
  transition: .3s;
}

@keyframes showHeader {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}