@use "../base/vars" as *;

.header {
  position: relative;
  padding-block: 15px;

  .logo {
    background-image: $color-gradient; /* Or any other gradient type/colors */
    -webkit-background-clip: text; /* Clip the background to the shape of the text */
    -webkit-text-fill-color: transparent; /* Make the text transparent to reveal the background */
    color: white; /* Fallback color for browsers that don't support the above properties */
    font-size: 30px;
  }

  .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .menu {
    display: flex;
    column-gap: 80px;
  }
}

.link:hover {
  color: $color-btn1;
  transition: .3s;
}

@keyframes showHeader {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}