@forward "header";
@forward "hero";
@forward "about";
@forward "solutions";
@forward "steps";
@forward "collection";
@forward "journey";
@forward "team";
@forward "testi";
@forward "create";
@forward "news";
@forward "footer";