@use "../base/vars" as *;
@use "../base/mixins" as *;

.journey {

  position: relative;
  @include padding(100px);

  .circle {
    @include circleRaund(20%, -20%, 0.2);
  }

  .journey-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 50px;
  }

  .journey-wrapper-list {
    position: relative;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 50px;
  }

  .journey-wrapper-list::before {
    position: absolute;
    content: '';
    width: 2px;
    height: 100%;
    background-color: $color-btn1;
    top: 0;
    left: 50%;
    transform: translateX(-1px);
  }
}