@use "../base/vars" as *;
@use "../base/mixins" as *;

.journey {

  @include padding(100px);

  .journey-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 50px;
  }

  .journey-wrapper-list {
    position: relative;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 50px;
  }

  .journey-wrapper-list::before {
    position: absolute;
    content: '';
    width: 2px;
    height: 100%;
    background-color: $color-btn1;
    top: 0;
    left: 50%;
    transform: translateX(-1px);
  }

  .journey-content {
    position: relative;
    border: 1px solid #000;
    padding: 20px;
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    margin-top: 10px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0));

    p {
      font-size: 14px;
    }

    &::before {
      position: absolute;
      content: '';
      width: 27px;
      height: 2px;
      background-color: $color-btn1;
      top: calc(50% - 1px);
      left: 100%;
    }

    &.line2::before {
      left: -27px;
    }

    &::after {
      position: absolute;
      content: '';
      width: 10px;
      height: 10px;
      background-color: $color-btn1;
      top: calc(50% - 5px);
      left: 103.4%;
      border-radius: 50%;
    }
  }

  .journey-card {
    margin-bottom: 20px;
  }

  .journey-card span {
    position: relative;
    display: inline-block;
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 15px;
    border-radius: 20px;
    font-family: $font-title;
    background-image: $color-gradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: white;
  }

  .journey-list-title {
    position: relative;
    font-size: 20px;
    font-family: $font-title;
    margin-bottom: 20px;
  }

  .journey-list-title::before {
    position: absolute;
    content: '';
    width: 20%;
    height: 4px;
    background: $color-gradient;
    top: 100%;
    left: 0;
  }

}