@use '../base/vars' as *;
@use '../base/mixins' as *;

.news {

    @include padding(50px);


    .news-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
    }

    .news-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .news-input {
        border: 1px solid rgba(255, 255, 255, 0.2);
        height: 50px;
        border-radius: 10px;
        padding-left: 15px;
        width: 90%;
        background-color: rgba(255, 255, 255, 0.2);

        @include adaptive(768px) {
            width: 60%;
        }
    }
}