@use '../base/vars' as *;
@use '../base/mixins' as *;

.news {

    @include padding(50px);

    .news-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 20px;
    }

    .news-title {
        font-size: 50px;
        font-family: $font-title;
    }

    .news-input {
        height: 50px;
        padding-left: 15px;
        min-width: 800px;
        border: 1px solid #ffffff;
        border-radius: 10px;
        background-color: rgba(255, 255, 255, 0.2);
    }
}