@use "../base/vars" as *;
@use "../base/mixins" as *;

.solutions {

  @include padding(150px);

  .solutions-wrapper {
    text-align: center;
  }

  .solutions-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
  }

  .solutions-card {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .solutions-card-icon {
    position: relative;
    top: 40px;
    background: $color-gradient;
    display: inline-block;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    transition: .3s;

    &:hover {
      transform: rotateY(180deg);
    }
  }

  .solutions-card-body {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0));
    border-radius: 20px;
    padding: 50px 20px;
  }

  .solutions-card-title {
    text-align: center;
    font-family: $font-title;
    cursor: pointer;
    transition: .3s;

    &:hover {
      color: $color-btn1;
    }
  }

  .solutions-text {
    font-size: 12px;
    margin-block: 10px;
  }

  .solutions-count {
    font-size: 40px;
    font-family: $font-title;
    text-align: center;
  }
}