@use "../base/vars" as *;
@use "../base/mixins" as *;

.solutions {

  position: relative;
  @include padding(150px);

  .circle {
    @include circleRaund(0, -20%, 0.2);
  }

  .solutions-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
  }

  .solutions-cards {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    column-gap: 20px;

    @include adaptive(768px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include adaptive(1200px) {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}