@use "../base/vars" as *;
@use "../base/mixins" as *;

.solutions {

  @include padding(150px);
  border: 1px solid red;

  .solutions-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
  }

  .solutions-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
  }
}