@use "../base/vars" as *;
@use "../base/mixins" as *;

.steps {
  position: relative;
  @include padding(140px);

  .steps-image {
    animation: toTopBottom 5s infinite;
  }

  .circle {
    @include circleRaund(50%, 80%, 0.2);
  }

  .steps-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .steps-content-wrapper {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    column-gap: 20px;
    margin-top: 80px;

    @include adaptive(992px) {
       grid-template-columns: repeat(2, 1fr);
    }
  }

  .steps-text {
    max-width: 600px;
  }
}

@keyframes toTopBottom {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0);
  }
}