@use "../base/vars" as *;
@use "../base/mixins" as *;

.steps {
  position: relative;
  @include padding(140px);

  .circle {
    @include circleRaund(50%, 80%, 0.2);
  }

  .steps-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .steps-content-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    column-gap: 20px;
    margin-top: 80px;
  }

  .steps-text {
    max-width: 600px;
  }
}