@use '../base/vars' as *;
@use '../base/mixins' as *;

.team {

    @include padding(150px);

    .team-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-bottom: 50px;
    }

    .swiper.team {
        overflow: hidden;
    }

    .swiper-wrapper {
        display: inline-flex;
    }

}