@use '../base/vars' as *;
@use '../base/mixins' as *;

.team {

    position: relative;
    @include padding(100px);

    .circle {
        @include circleRaund(20%, 80%, 0.2);
    }

    .team-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-bottom: 50px;
    }

    .swiper.team {
        overflow: hidden;
    }

    .swiper-wrapper {
        display: inline-flex;
    }

}