@use '../base/vars' as *;
@use '../base/mixins' as *;

.testi {
    @include padding(100px);

    .testi-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-bottom: 50px;
    }
    
}