@use '../base/vars' as *;

.journey-card {

    margin-bottom: 20px;
    cursor: pointer;

    &:hover .journey-list-title {
        color: $color-btn1;
    }

    span {
        position: relative;
        display: inline-block;
        border: 1px solid rgba(255, 255, 255, 0.3);
        padding: 15px;
        border-radius: 20px;
        font-family: $font-title;
        background-image: $color-gradient;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        color: white;
    }

    .journey-content {
        position: relative;
        border: 1px solid #000;
        padding: 20px;
        border-radius: 20px;
        border: 1px solid rgba(255, 255, 255, 0.3);
        margin-top: 10px;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0));

        p {
            font-size: 14px;
        }

        &::before {
            position: absolute;
            content: '';
            width: 27px;
            height: 2px;
            background-color: $color-btn1;
            top: calc(50% - 1px);
            left: 100%;
        }

        &.line2::before {
            left: -27px;
        }

        &::after {
            position: absolute;
            content: '';
            width: 10px;
            height: 10px;
            background-color: $color-btn1;
            top: calc(50% - 5px);
            left: 103.4%;
            border-radius: 50%;
        }

        &.line2::after {
            left: -30px;
        }
    }

    .journey-list-title {
        position: relative;
        font-size: 20px;
        font-family: $font-title;
        margin-bottom: 20px;
        transition: .3s;
    }

    .journey-list-title::before {
        position: absolute;
        content: '';
        width: 20%;
        height: 4px;
        background: $color-gradient;
        top: 100%;
        left: 0;
    }
}