@use "../base/vars" as *;

.steps-card {
  position: relative;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  padding: 20px;
  margin-bottom: 50px;
  cursor: pointer;

  &:before {
    content: attr(data-title);
    position: absolute;
    top: -30px;
    left: 0;
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 10px;
    border-radius: 20px;
    font-family: $font-title;
    background-image: $color-gradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: white;
  }

  display: flex;
  column-gap: 20px;

  .steps-card-content {
    p {
      font-size: 14px;
    }
  }

  .steps-cards-title {
    font-family: $font-title;
    margin-bottom: 10px;
    transition: .3s;
  }

  &:hover .steps-cards-title {
    color: $color-btn1;
  }
}