@use "vars" as *;

body {
  font-family: $font-main;
  background-color: $color-bg;
  color: white;
}

.container {
  margin: 0 auto;
  padding-inline: 15px;

  @media(width < 576px) {
    max-width: 90%;
  }

  @media(width >= 768px) {
    max-width: 720px;
  }

  @media(width >= 992px) {
    max-width: 960px;
  }

  @media(width >= 1200px) {
    max-width: 1140px;
  }

  @media(width >= 1400px) {
    max-width: 1320px;
  }

}