@use "vars" as *;

@mixin flex-line($flex: flex, $jsc, $ai) {
  display: $flex;
  justify-content: $jsc;
  align-items: $ai;
}

@mixin padding($padding) {
  padding-block: $padding;
}

@mixin circleRaund($value1, $value2) {
  position: absolute;
  top: $value1;
  right: $value2;
  width: 600px;
  height: 600px;
  background-color: $color-btn1;
  filter: blur(100px);
  border-radius: 100%;
  opacity: 0.4;
  z-index: -1;
}