@use "vars" as *;

@mixin padding($padding) {
  padding-block: $padding;
}

@mixin circleRaund($valueTop, $valueRight, $opacity: 1) {
  position: absolute;
  top: $valueTop;
  right: $valueRight;
  width: 600px;
  height: 600px;
  background-color: $color-btn1;
  filter: blur(100px);
  border-radius: 100%;
  z-index: -1;
  opacity: $opacity;
}

@mixin adaptive($breakpoint) {
  @media (width >= $breakpoint) {
    @content
  }
}